#library {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.row {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
border: 1px solid rgba(0, 0, 0, 0.8);
